<VirtualHost *:{{ http_port }}>
    ServerAdmin webmaster@{{ item }}
    ServerName {{ item }}
    ServerAlias www.{{ item }}
    DocumentRoot /var/www/{{ item }}
    ErrorLog /var/log/websites/error-{{ item }}.log
    CustomLog /var/log/websites/access-{{ item }}.log combined
</VirtualHost>

<VirtualHost *:{{ https_port }}>
    ServerAdmin webmaster@{{ item }}
    ServerName {{ item }}
    ServerAlias www.{{ item }}
    DocumentRoot /var/www/{{ item }}
    ErrorLog /var/log/websites/error-{{ item }}.log
    CustomLog /var/log/websites/access-{{ item }}.log combined
</VirtualHost>